@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to LetSeat (Say it out loud)</h1>
    <p> Here we generate restaurants in your area!</p>
    <p> Head over to the Restaurants tab to get started.</p>   
</div>


